@inject IAssetManager assetManager

@if (!string.IsNullOrEmpty(ImageName))
{
    <div class="background" style="background: url(@ImageUrl)">

    </div>
}

@code {
    [Parameter]
    public string ImageName { get; set; } = string.Empty;

    public string ImageUrl { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        ImageUrl = assetManager.GetBackgroundImageUrl(ImageName);
    }
}
