.root {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    animation: fadein 1s;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fef9e7;
}

@keyframes fadein {
    from {
        opacity: 0;
        left: -100%;
    }

    to {
        opacity: 1;
        left: 0;
    }
}