@inject IAssetManager assetManager

@if (Book != null)
{
    <div class="container">
        <div class="book">
            <img src="@thumbnailUrl" />
            <span>@Book.Title</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public BookDto? Book { get; set; }

    private string thumbnailUrl = string.Empty;

    protected override void OnParametersSet()
    {
        if (Book == null)
            return;

        thumbnailUrl = assetManager.GetBookThumbnailUrl(Book.Name);
    }
}
