@inject IAssetManager assetManager

@if (Book != null)
{
    <a href="book/@Book.Name">
        <div class="thumbnail" style="background-image:url(@coverUrl)">

        </div>
    </a>
}

@code {
    [Parameter]
    public BookModel? Book { get; set; }

    private string coverUrl = string.Empty;

    protected override void OnParametersSet()
    {
        if (Book == null)
            return;

        coverUrl = assetManager.GetBookCoverUrl(Book.Name);
    }
}
