html {
	height: 100%;
	font-family: 'Proxima Nova', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 19pt;
}

@media screen and (max-width: 599px) {
	html {
		font-size: 4vw;
	}
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: hidden;
	user-select: none;
}

.background {
	position: absolute;
	width: 200%;
	height: 100%;
	background-size: cover;
	background-position: left center;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-width: 600px;
}

.root {
	position: absolute;
	width: 100%;
	height: 100%;
}

.personContainer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 41%;
}

.dialogContainer {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 60%;
}

.tutorialContainer {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 60%;
}

.personSizer {
	position: absolute;
	width: 40%;
	height: 60%;
	bottom: 0%;
}

	.personSizer.left {
		margin-left: 10px;
	}

	.personSizer.right {
		margin-right: 10px;
		right: 0%;
	}

	.personSizer img {
		width: 100%;
		height: auto;
		bottom: 0%;
		position: absolute;
	}

.flipHorizontally {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.scene {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.balloon {
	position: relative;
	background: #712F26;
	width: 85%;
	border-radius: 10px;
	border: 0.5px solid #202020;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

	.balloon.left {
		float: left;
		margin-left: 10px;
	}

	.balloon.right {
		float: right;
		margin-right: 10px;
	}

	.balloon.center {
		margin: 0 auto;
	}

.balloonTitle {
	color: white;
	text-align: center;
	height: 24px;
	font-size: 14pt;
}

	.balloonTitle span {
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;
		margin-top: 2px;
	}

.balloonText {
	background: white;
	border-radius: 8px;
	border: 0.5px solid gray;
	background-image: linear-gradient(0deg, #888888, #BBBBBB, white);
}

	.balloonText.withTitle {
		margin: 2px 4px 4px 4px;
		padding: 10px;
		min-height: 24px;
	}

	.balloonText.withoutTitle {
		margin: 4px;
		padding: 15px;
		text-align: center;
	}

.balloonArrow {
	position: absolute;
	width: 22px;
	height: 27px;
	stroke: #202020;
	fill: white;
	top: 0px;
}

	.balloonArrow.left {
		left: 30px;
	}

	.balloonArrow.right {
		right: 30px;
	}

.attribute {
	position: absolute;
	bottom: 0%;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 20px;
	white-space: nowrap;
}

	.attribute.left {
		margin-left: 10px;
	}

	.attribute.right {
		margin-right: 10px;
		right: 0%;
	}

	.attribute.bonus {
		background-color: black;
		color: lawngreen;
	}

	.attribute.penalty {
		background-color: black;
		color: red;
	}

.trophy {
	position: relative;
	top: 0;
	margin-left: 20px;
	margin-right: 20px;
	border: 3px solid #BBBBBB;
	background-color: #712F26;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
	padding: 10px 10px 10px 10px;
}

.trophy_image {
	position: relative;
	display: inline-block;
	background-image: url("../img/trophy.png");
	width: 45px;
	height: 45px;
	vertical-align: middle;
	left: 0;
}

.trophy_body {
	position: relative;
	display: inline-block;
	right: 0;
	width: calc(100% - 50px);
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
}

.trophy_title {
	position: relative;
	font-size: 13pt;
	font-weight: bold;
	color: white;
}

.trophy_text {
	margin-top: 3px;
	position: relative;
	font-size: 12pt;
	color: #C0C0C0;
}

.balloonInput {
	background: white;
	border-radius: 5px;
	border: 0.5px solid gray;
	margin: 2vh 0.5vw 0.5vh 0.5vw;
	padding: 0px 3px 3px 3px;
	line-height: 30px;
}

	.balloonInput input {
		width: calc(100% - 35px);
		border: none;
		font-family: Arial, sans-serif;
		font-size: 14pt;
		display: inline-block;
		vertical-align: middle;
	}

		.balloonInput input:focus {
			outline: none;
		}

	.balloonInput img {
		display: inline-block;
		vertical-align: middle;
	}

.choices {
	float: left;
	position: relative;
	height: 100%;
	width: 90%;
	transform: translateY(-12px);
}

	.choices .scroll {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
	}

	.choices .navigation {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 13%;
		margin-bottom: 10px;
	}

		.choices .navigation button {
			position: absolute;
			width: 10%;
			text-align: center;
			vertical-align: middle;
			border-radius: 100%;
			border: 0.5px solid black;
			box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
			padding: 0;
			background-color: #712F26;
		}

			.choices .navigation button:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				padding-top: 100%;
			}

			.choices .navigation button:focus {
				outline: none;
			}

			.choices .navigation button:hover {
				background-color: #611F16;
			}

			.choices .navigation button:active {
				box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5), 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
				transform: translate(2px, 2px);
			}

			.choices .navigation button.previous {
				left: 0;
			}

			.choices .navigation button.next {
				right: 0;
			}

			.choices .navigation button img {
				position: absolute;
				width: 50%;
				height: 50%;
				object-fit: contain;
				left: 0;
				top: 0;
				transform: translate(50%, 50%);
			}

				.choices .navigation button img.hover {
					display: none;
				}

			.choices .navigation button:hover img.hover {
				display: unset;
			}

			.choices .navigation button:hover img.normal {
				display: none;
			}

.choiceButton {
	display: inline;
	width: 100%;
	height: 13%;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 10px;
	font-family: 'Proxima Nova', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 20px;
	border: 0.5px solid black;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
	padding: 0;
}

	.choiceButton:focus {
		outline: none;
	}

	.choiceButton:active {
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5), 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
		transform: translate(2px, 2px);
	}

	.choiceButton.icon,
	.choiceButton.unlocked,
	.choiceButton.normal {
		background-color: #712F26;
		color: white;
	}

		.choiceButton.icon:hover,
		.choiceButton.unlocked:hover,
		.choiceButton.normal:hover {
			color: yellow;
			background-color: #611F16;
		}

		.choiceButton.normal div.textContainer {
			display: block;
			padding: 0 4% 0 4%;
			width: 92%;
		}

	.choiceButton.locked {
		background-color: #510F06;
		color: gray;
		font-style: italic;
	}

		.choiceButton.locked:hover {
			color: #A0A0A0;
			background-color: #611F16;
		}

		.choiceButton.locked div.iconContainer {
			background-color: darkkhaki;
		}

		.choiceButton.locked:hover div.iconContainer {
			background-color: khaki;
		}

	.choiceButton.unlocked {
	}

		.choiceButton.unlocked div.iconContainer {
			background-color: #88fe62;
		}

		.choiceButton.unlocked:hover div.iconContainer {
			background-color: #6fd04f;
		}

		.choiceButton.icon div.textContainer,
		.choiceButton.unlocked div.textContainer,
		.choiceButton.locked div.textContainer {
			float: left;
			position: relative;
			width: 81%;
			height: 100%;
			padding: 0 4% 0 4%;
		}

			.choiceButton.icon div.textContainer span,
			.choiceButton.unlocked div.textContainer span,
			.choiceButton.locked div.textContainer span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

		.choiceButton.icon div.iconContainer,
		.choiceButton.unlocked div.iconContainer,
		.choiceButton.locked div.iconContainer {
			float: right;
			position: relative;
			width: 10%;
			height: 100%;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}

			.choiceButton.icon div.iconContainer img,
			.choiceButton.unlocked div.iconContainer img,
			.choiceButton.locked div.iconContainer img {
				position: absolute;
				width: 50%;
				height: 50%;
				object-fit: contain;
				left: 0;
				top: 0;
				transform: translate(50%, 50%);
			}

@media screen and (max-width: 599px) {
	.choiceButton {
		font-size: 3.2vw;
	}
}

@media screen and (min-width: 600px) {
	.choiceButton {
		font-size: 14pt;
	}
}