.centerbalooncontainer {
	position: relative;
	float: left;
	width: 100%;
}

.baloon {
	background: #712F26;
	width: 85%;
	border-radius: 5px;
	border: 0.5px solid black;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

	.baloon.left {
		float: left;
		margin-left: 10px;
	}

	.baloon.right {
		float: right;
		margin-right: 10px;
	}

	.baloon.center {
		margin: 0 auto;
	}

.baloonTitle {
	color: white;
	text-align: center;
	height: 24px;
}

	.baloonTitle span {
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;
		margin-top: 2px;
	}

.baloonText {
	background: white;
	border-radius: 5px;
	border: 0.5px solid black;
	background-image: linear-gradient(0deg, #888888, #BBBBBB, white);
}

	.baloonText.withTitle {
		margin: 0px 4px 4px 4px;
		padding: 10px;
		min-height: 24px;
	}

	.baloonText.withoutTitle {
		margin: 4px;
		padding: 15px;
		text-align: center;
	}

.baloonArrow {
	position: absolute;
	width: 20px;
	height: 26px;
	stroke: black;
	fill: white;
	top: 0px;
}

	.baloonArrow.left {
		left: 30px;
	}

	.baloonArrow.right {
		right: 30px;
	}
