@page "/"
@inject IAssetManager assetManager

<div class="header">
    <img src="~/assets/common/logo.png" class="logo" />
    <img src="~/assets/common/refresh.png" class="refresh" @onclick="RefreshAsync" />
</div>

@if (books != null)
{
    <div class="body">
        <div class="group_header">Livros Disponíveis</div>
        <div class="book_list">
            @foreach (var book in books)
            {
                <Thumbnail Book="@book" />
            }
        </div>
    </div>
}

@code {
    private IReadOnlyCollection<BookModel>? books;

    private async Task RefreshAsync()
    {
        books = await assetManager.GetBooksAsync();
    }

    protected async override Task OnInitializedAsync() => await RefreshAsync();
}
